<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div th:fragment="footer">
        <footer >
            <div class="container text-center" style="min-height:50px">

            </div>
            <div class="container text-center">
            <img src="/img/nih_icon_2.svg" width="50"/>
            &copy; 2017  BD2K MetProt is supported by the NIH Big Data to Knowledge award U54 GM114833.
            </div>
        </footer>
    </div>
</body>
</html>