body, html {
    font-family: 'Arimo', sans-serif;
}

a, a:hover{
    color: #02a5de;
}

a.navbar-brand:hover {
    color: #02a5de;
}

.axis-label {
    background-color: rgba(211, 211, 211, .4);
    border: 1px solid transparent;
    border-radius: 5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.invisible {
    visibility: hidden;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
.navbar-header .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: #02a5de;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus,
.pagination>li>a:hover, .pagination>li>a:focus, .pagination>li>a:active{
    background-color: #02a5de;
    border-color: #02749c;
}

.plot-container {
    width: 615px;
}

.plot {
    min-height: 430px;
    position: relative;
    background-color: #ffffff;  /* better contrast with data points, as well as for downloading */
    overflow:hidden;
}

.progress-bar {
    background-color: #02a5de;
}

rect.selection {
    stroke          : red;
    stroke-dasharray: 5px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

.results img {
    width: 100%;
}

.result-panel .panel-body {
    max-height: 150px;
    overflow: scroll;
}

.result-panel .table>tbody>tr.active,
.result-panel .table>tbody>tr:hover,
#sidePanel .table>tbody>tr.data-row.active,
#sidePanel .table>tbody>tr.data-row.active:hover {
    background-color: #fcf8e3;
    color: red;
    cursor: pointer;
}

#sidePanel.pattern-recognition table,
#metabolite-table-container table{
    display: block;
    max-height: 250px;
    overflow: scroll;
}

svg:not(:root) {
    overflow:visible;
}

.transition {
    -webkit-transition: all 700ms ease-in;
    -moz-transition: all 700ms ease-in;
    -ms-transition: all 700ms ease-in;
    -o-transition: all 700ms ease-in;
    transition: all 700ms ease-in;
}

.transparent {
    opacity: 0;
}
