

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text='${"Results for " + token + " | Metaprot"}'></title>
    <link href="/css/lib/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/bootstrap-treeview.css" />
    <link rel="stylesheet" type="text/css" href="/css/temp.css" />

</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Metaprot</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid results">
    <div class="row text-center">
        <div class="col-sm-12">
            <h2>Metabolite Time Series Analysis Result</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title" th:text='${"Results for task: " + token}'></h2>
                </div>
                <div class="">

                    <div class="row" style="padding: 10px 0 30px 0">
                        <div class="col-sm-12 col-lg-8">
                            <h3>Plots</h3>
                            <div id="plot">

                            </div>

                        </div>

                        <div class="col-sm-4 col-sm-offset-4 col-lg-3 col-lg-offset-0" style="padding:60px 20px;">
                            <form id="metabolite-selection" class="form-horizontal">
                                <div class="form-group">
                                    <label for="metabolite-select" class="control-label">Select a metabolite:</label>
                                    <select id="metabolite-select" class="form-control"
                                            onchange="generateTimeSeriesViewer(this.options[this.selectedIndex].value)">
                                        <option th:each="metabolite : ${metabolites}" th:text="${metabolite}"
                                                th:value="${metabolite}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-default" type="submit" value="Submit" />
                                </div>
                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<div th:include="fragments/footer :: footer"></div>


<script type="text/javascript" src="/js/lib/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="/js/DataSegregator.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/js/SVGPlot.js"></script>

<script src="/js/lib/jquery.js"></script>
<script src="/js/bootstrap-treeview.js"></script>
<script src="/js/analytics.js"></script>
<script src="/js/TimeSeriesPlot.js"></script>

<script type="text/javascript" th:inline="javascript">
            $(function() {

            var results = [[${results}]];
            var significance_values = [[${significance_values}]];
            console.log(results);
            console.log(significance_values);


            initTimeSeriesData(results, significance_values);
            generateTimeSeriesViewer($("#metabolite-select").val());

            // resets all user graphical elements to the original state
            function resetUI(plotContainerId) {//TODO
                // remove highlights
                highlightedItems.clear();

                // reset the "semi-global" threshold values
                norm_pThreshold = -1*Math.log10(pThreshold);
                norm_fcThreshold = Math.log2(fcThreshold);

                // reset zoom value
                //currentZoomTransform = d3.zoomIdentity;

                // recolor data points
                svg.selectAll("circle")
                    .style("fill", function(d) {
                        return getCircleColor(d);
                    })
                    .classed("active", false);  // remove active coloring

                // redraw the side panels and threshold lines
                redrawSidetables(dataSegregator.resegregate(pThreshold, fcThreshold), $('#result-panels-'));
                redrawThresholdLines(norm_pThreshold, norm_fcThreshold);

                // reset zoom -- needs debugging
//                svg.selectAll('circle.d3-node, line.threshold').attr("transform", d3.zoomIdentity);
//                gXAxis.call(xAxis.scale(d3.zoomIdentity.rescaleX(xScale)));
//                gYAxis.call(yAxis.scale(d3.zoomIdentity.rescaleY(yScale)));
            }

            /* ------------------------ MISC ---------------------------- */

            $('.generate-plot-btn').on("click", function(e) {
                e.preventDefault();

                // remove any previously generated download links
                $('#plot-download-link-' + $(this).attr("data-plot-index")).remove();

                // get the plot, set ui animations
                var plotContainerId = "d3-plot-" + $(this).attr("data-plot-index");
                var formParent = $(this).parent()[0];

                // create anchor element for download
                var anchor = document.createElement("a");
                anchor.id = "plot-download-link-" + $(this).attr("data-plot-index");
                anchor.setAttribute("href", plots[plotContainerId]['plot'].getDataUrl());
                anchor.setAttribute("download", "metaprot-plot-"+ $(this).attr("data-plot-index") + ".svg");
                anchor.style.display = "none";
                anchor.innerText = "Download";

                var div = document.createElement("div");
                div.appendChild(anchor);
                div.style.marginTop = "10px";
                formParent.appendChild(div);

                anchor.click();
            });


            $('input.enable-zoom').on("change", function() {

                var plotContainerId = $(this).parents(".plot-container").children(".plot").attr("id");
                if (this.checked) {
                    //enableDragSelect();
                    plots[plotContainerId]['plot'].disableDragSelect();
                } else {
                    plots[plotContainerId]['plot'].enableDragSelect();
                }
            });
        }); // end docready

    </script>

</body>
</html>

