<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Upload file</title>

    <link href="/css/lib/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-treeview.css" />
    <link rel="stylesheet" type="text/css" href="/css/temp.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>-->
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <!-- Required Stylesheets -->
    <!--<link href="/css/lib/bootstrap.css" rel="stylesheet"/>-->

     <!--Required Javascript-->
    <style>
        .dataTables_scroll
        {
            overflow:auto;
        }
    </style>


</head>
<body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle toggle-left hidden-md hidden-lg" data-toggle="sidebar" data-target=".sidebar-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/img/icon11.png" height="40" width="100" align="middle" style="margin-top:5px;"/>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./about">About</a></li>
                    <li><a href="./contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar sidebar-left sidebar-animate sidebar-md-show">
                <ul class="nav nav-sidebar ">
                    <li class="active"><a href="#">Upload Data<span class="sr-only">(current)</span></a></li>
                    <li><a href="/upload-pass" class="preprocess">Preprocessing</a></li>
                    <li><a href="/analysis">Analysis</a></li>
                    <li><a href="">Annotation</a></li>
                    <li><a href="">Integration</a></li>
                    <li><a href="">Summary</a></li>
                </ul>
                <div id="token_text" >
                    <p class="navbar-text">Token number</p>
                    <p class="navbar-text" id="token_num"></p>
                    <!--<input type="button" value="copy" id="copyBtn"/>-->
                    <!--<button type="submit" value="copy"/>-->
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-7 col-md-offset-2 main">
                <!--<div id="csvFile"></div>-->

                <h2>Upload a File</h2>
                <div class="well well-lg">
                    <form id="csv-upload-form" class="form-horizontal">
                        <fieldset>

                            <label for="fileInput">
                                <p>Select file:</p>
                            </label>
                            <input id="fileInput" type="file" class="form-control" required="required" />

                            <br/>

                            <label for="xAxisSelector">What do rows define in the input file?</label>
                            <select id="xAxisSelector">
                                <option value="Metabolite">Protein/Metabolite</option>
                                <option value="Time-Series">Time Point Data</option>
                            </select>

                            <br />

                            <label for="yAxisSelector">What do columns define in the input file?</label>
                            <select id="yAxisSelector">
                                <option value="Time-Series">Time Point Data</option>
                                <option value="Metabolite">Protein/Metabolite</option>
                            </select>

                            <br />

                            <input type="submit" value="Submit" class="form-control" />
                            <input type="reset" value="Reset" class="form-control" />

                        </fieldset>
                    </form>
                </div>
                <div id="progress-bar-display" class="transition transparent">
                    <h5>Upload Progress</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            0% Complete
                        </div>
                    </div>
                    <div id="progressText" class="text-center"></div><br />
                </div>

                 <!--TODO abineet, use this input token(with submit button) to retrieve files linked with this token-->
                <h2>Retrieve Files</h2>
                <div class="well well-lg">
                    <form class="form-inline" id="retrieve-file">
                        <div class="form-group">
                            <label for="inputToken">Token</label>
                            <input class="form-control" id="inputToken" placeholder="token number"/>
                        </div>
                        <input type="submit" value="Go" class="form-control" />
                        <!--<input type="submit" value="Go" class="form-control btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">-->
                            <!--Popover on right-->
                        <!--</input>-->
                    </form>
                </div>

                <div class="alert alert-danger transition transparent" id="token-num-display">
                    <strong>Warning!</strong> Error in token number input.
                </div>

                <div class="footer">
                    <img src="img/nih_icon_2.svg" width="50"/>
                    &copy; 2017  BD2K MetProt is supported by the NIH Big Data to Knowledge award U54 GM114833.
                </div>
                <!--<div class="footer">© 2017 BD2K MetProt is supported by the NIH Big Data to Knowledge award U54 GM114833.</div>-->

            </div>
            <div class="col-sm-3 col-md-3" id="sidebar_right">
                <div id="top_part">
                    <div id="treeview" />
                </div>
                <div id = "bottom_part"/>
            </div>
        </div>
        <div id="myModal" class="modal col-sm-5 col-md-6 col-md-offset-1">
            <div class="modal-content">
                <div id="csvFile"></div>
            </div>
        </div>
    </div>

    <!--<div th:include="fragments/footer :: footer"></div>-->

    <!--<script type="text/javascript" src="/js/lib/jquery-3.1.0.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.4.12.min.js"></script>
    <script type="text/javascript" src="/js/aws/S3Uploader.js"></script>
    <script src="js/lib/jquery.js"></script>
    <script src="js/bootstrap-treeview.js"></script>
    <script src="js/sidebar.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>-->
    <!--<script src="d3.min.js?v=3.2.8"></script>-->
    <script type="text/javascript">
        /*<![CDATA[*/

//        var url = window.location.href;
//        console.log(url);
//        var toks = url.split('/');
//        console.log(toks);
//        if(!(toks[toks.length - 1] == "upload" || toks[toks.length - 1] == "")){
//            getTreeData(toks[toks.length-1]).done(function(data){
//                sessionStorage.setItem("root", data);
//            });
//        }
//
        document.getElementById("token_num").innerHTML = sessionStorage.getItem("sessionToken");
        console.log(sessionStorage.getItem("sessionToken"));

        function getTreeData(token) {

            var formData = new FormData();
            formData.append("token", token);

            return $.ajax({
                url: '/analyze/getSessionData',
                type: 'POST',
                processData: false,
                contentType: false,
                async: false,
                data: formData,
                success: function (data) {
                    console.log(data);
                }
            });
        }

        function buildDomTree() {

            console.log("buildDomTreeFunction");

            var data = [];

            function walk(nodes, data) {
                $.each(nodes, function (id, node) {
                    //name
                    if (node["name"]) {
//                        console.log(node["name"]);
                        var obj = {
                            id: id,
                            text: node["name"]
//                            href: "./contact"
                        };
                        data.push(obj);
                    }
                    //children
                    if (node["children"]) {
                        if (node["children"].length > 0) {
                            obj.nodes = [];
                            walk(node["children"], obj.nodes);
                        }
                    }
                });
            }

            if(sessionStorage.getItem("sessionToken") !== null) {
                getTreeData(sessionStorage.getItem("sessionToken")).done(function (data) {
                    sessionStorage.setItem("root", data);
                });
            }
            var tree = JSON.parse(sessionStorage.getItem("root"));
            walk(tree, data);
            console.log("data",data);
            return data;
        }

        passFilenames();


        function passFilenames(){

            //file tree
            var options = {
                backColor: '#eeeeee',
//                onhoverColor: '#cbd2d6',
                highlightSelected: false,
                showBorder: false,
//                showIcon: true,
//                enableLinks: true,
                data: buildDomTree()
            };

            $('#treeview').treeview(options);


            document.getElementById("treeview").addEventListener("click",function(e) {
                // e.target is our targetted element.
                // try doing console.log(e.target.nodeName), it will result LI
                console.log('e.target',e.target);
                //eye view icon
                if(e.target && e.target.id == "myBtn") {
                    // Get the modal
                    var modal = document.getElementById('myModal');
                    modal.style.display = "block";

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                }

                //trash icon to delete file
                if(e.target && e.target.id == "myBtn2") {

                }

                if(e.target && e.target.nodeName == "LI") {
                    console.log(e.target.id + " was clicked");

                    var formData = new FormData();
                    formData.append("fileName", e.target.id);
                    // notify server of file upload and updates UI to reflect status
                    $.ajax({
                        url: '/analyze/getProcessingStats',
                        method: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success:function(data) {    // really just prints on screen any response from server
                            var s = data.toString();
                            console.log(s);
                        },
                        error:function(jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR);
                            console.log(textStatus);
                            console.log(errorThrown);
                            $progressText.html('<div class="alert alert-danger">' + jqXHR.responseJSON.message + '</div>');
                        }
                    });
                }

            });



        }


        $(function() {

            var $progressBar = $('.progress-bar');
            var $fileInput = $('#fileInput');
            var $tokenInput = $('#inputToken');

            function updateProgressBar(progress) {
                $progressBar.html(progress + "% complete");
                $progressBar.css("width", progress+"%");
            }

            // when all files are uploaded, tell server to check for integrity
            function notifyAllFilesUploaded(token, s3Key) {
                var $progressText = $('#progressText');
//                var $fileText = $('#fileText');
                $progressText.html('<h5>Checking integrity...</h5><i class="fa fa-refresh fa-spin fa-3x"></i>');

                var formData = new FormData();
                formData.append("objectKey", s3Key);
                formData.append("token", token);
                // TODO abineet, if you want more info from the client, you can grab it from the HTML and
                // formData.append() it.

                // notify server of file upload and updates UI to reflect status
                $.ajax({
                    url: '/analyze/integrity-check',
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success:function(data) {    // really just prints on screen any response from server
                        var s = data.toString();
                        $progressText.html('<div class="alert alert-success">' + s + '</div>');
//                        $('#preprocess').html(onclick="window.location.href='/upload'");

                    },
                    error:function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        $progressText.html('<div class="alert alert-danger">' + jqXHR.responseJSON.message + '</div>');
//                        $fileText.html('filex');
                    }
                });
            }

            function validateToken(token) {

                var formData = new FormData();
                formData.append("token", token);

                return $.ajax({
                    url: '/analyze/checkToken',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    async: false,
                    data: formData,
                    success: function (data) {
                        console.log(data);
                    }
                });
            }

            function updateSessionData(token){

                var formData = new FormData();
                console.log(token);
                console.log(sessionStorage.getItem("root"));
                formData.append("token", token);

                formData.append("data", sessionStorage.getItem("root"));
                //formData.append("data", "TEST");

                $.ajax({
                    url: '/analyze/updateSessionData',
                    method: "POST",
                    contentType: false,
                    processData: false,
                    data: formData,
                    success:function(data) {    // really just prints on screen any response from server
                        var s = data.toString();
                        console.log(s);
                    },
                    error:function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                });

            }

            //TODO: Yolanda, this code has to execute on click of the "GO" Button
            $('#retrieve-file').on("submit", function(e) {
                e.preventDefault();

                console.log("inputToken", $tokenInput);
                console.log("inputToken[0].value", $tokenInput[0].value);
//                console.log("Token Received: ", $inputToken[0].value);
                var tokenReceived = $tokenInput[0].value; //TODO: Yolanda I need the value from the text field as string here

                validateToken(tokenReceived).done(function(data){
                    if(data == true) {
                        console.log("TOKEN VALIDATED");
                        sessionStorage.setItem("sessionToken", tokenReceived);
                        location.reload();
                    }
                    else{
                        console.log("TOKEN INVALID");
                        $('#token-num-display').css("opacity", 1);
                    }
                });

                //TODO: Yolanda, session storage is updated here, Refresh the page to load the data
            });

            $('#csv-upload-form').on("submit", function(e) {
                e.preventDefault();

                // upload w/ token
                // number of files to upload, for now, just handle 1
                var numFiles = $fileInput[0].files.length;
                var numFilesUploaded = 0;

                if (!numFiles) {
                    return;
                }

                console.log("PATHNAME: " + $fileInput[0].value);
                var arr = $fileInput[0].value.split("\\");
                var nameOfFile = arr[arr.length-1];
                console.log("FILENAME: " + nameOfFile);
                if(!(sessionStorage.getItem("root") === null)){
                    var a = JSON.parse(sessionStorage.getItem("root"));
                    for(var i = 0; i < a.length; i++){
                        if(a[i]["name"] == nameOfFile){
                            alert("A file with this name already exists. Please rename and upload.");
                            return;
                        }
                    }
                }

                $('#progress-bar-display').css("opacity", 1);

                function uploadFileToS3(options, token, moreParams) {
                    // after retrieving a token, can upload to s3
                    var delayCounter = 0;
                    S3Uploader.upload(options.data, "user-input/" + token + "/" + options.name, moreParams,
                        function(data) {
                            numFilesUploaded++;
                            if (numFilesUploaded == numFiles) {
                                // we are done uploading!
                                console.log("all files have been uploaded to s3");
                                updateProgressBar(100);

                                notifyAllFilesUploaded(token, data.Key);
                                $(function() {
                                    passFilenames();
                                });
                                document.getElementById("token_num").innerHTML = sessionStorage.getItem("sessionToken");
                                console.log(sessionStorage.getItem("sessionToken"));
                                make_copy_button(document.getElementById("token_num"));
                            }
                        },
                        function(key, bytesUploaded, bytesTotal) {
                            // called whenever bytes transferred to s3, with performance delay
                            delayCounter++;
                            if (delayCounter == 10) {
                                updateProgressBar(bytesUploaded/bytesTotal*100);
                            }
                        });
                }

                var afterEachFileRead = function(options) {
                    console.log("A file is ready to upload.");
                    //var toPush = options.name + ",";
                    var toPush = [{name: options.name, children: []}];
                    var b = {name: options.name, children: []};
                    if (sessionStorage.getItem("root") === null) {
                        sessionStorage.setItem("root", JSON.stringify(toPush));
                    }
                    else{
                        var curr = JSON.parse(sessionStorage.getItem("root"));
                        curr.push(b);
                        sessionStorage.setItem("root", JSON.stringify(curr));
                        console.log(JSON.stringify(curr));
                    }

                    var moreParams = {
                        ContentLength : options.size,
                        ContentType : options.type
                    };
                    /*TODO: (Yolanda) The "sessionToken" key in sessionStorage is keeping the sessionToken.
                     *When the page loads there should be some interface that asks the user if they previously have a token
                      * or to generate a new one.
                     */
                    if(sessionStorage.getItem("sessionToken") === null) {
                        // get token for s3 upload
                        $.ajax({
                            url: "/analyze/token",
                            method: "GET",
                            success: function (token) {
                                uploadFileToS3(options, token, moreParams);
                                sessionStorage.setItem('sessionToken', token);
                                updateSessionData(token);
                                console.log(token);
                            },
                            error: function () {
                                console.log("Error in retrieving upload token.");
                            }
                        });
                    }
                    else{
                        console.log("session Updating Backend");
                        uploadFileToS3(options, sessionStorage.getItem('sessionToken'), moreParams);
                        updateSessionData(sessionStorage.getItem('sessionToken'));
                    }

//                    document.getElementById("#token_num").innerHTML = sessionStorage.getItem("sessionToken");
//                    document.getElementById("#token_num").innerHTML = 11;

                };

                // set up FC and read in files
                FileController.setOnFileRead(afterEachFileRead);
                FileController.setInputElement($fileInput);
                FileController.readFiles();

            });
        });

        myfunction();

        function myfunction() {
            create_table(update_table);
        }

        function create_table(callback) {
            d3.text("/css/data.csv", function(data) {
                var parsedCSV = d3.csv.parseRows(data);
                var table = d3.select("#csvFile")
                    .append("div").attr("class", "container")
                    .append("table").attr("class", "display nowrap table table-hover table-bordered table-striped")
                                    .attr("id", "example")
                                    .attr("cellspacing", "0")
                                    .attr("width", "100%");

                console.log("parsedCSV[0]",parsedCSV[0]);
                var titles = d3.keys(parsedCSV[0]);
                var headers = table.append("thead")
                                .append('tr')
                                .selectAll('th')
                                .data(parsedCSV[0]).enter()
                                .append('th')
                                .text(function (d) {
                                    return d;
                                });

                parsedCSV = parsedCSV.slice(1,parsedCSV.length);
                var rows = table.append("tbody")

                    .selectAll("tr")
                    .data(parsedCSV).enter()
                    .append("tr")

                    .selectAll("td")
                    .data(function(d) {
                        return d;
                    }).enter()
                    .append("td")
                    .text(function(d) {
                        return d;
                    });

                console.log("create_table");

            });


            setTimeout(function() {
//                alert('first function finished');
                if(typeof callback == 'function')
                    callback();
            }, 1000);
        };

        function update_table() {
            $('#example').DataTable( {
//                "scrollX": true,
            } );
            jQuery('.dataTable').wrap('<div class="dataTables_scroll" />');
            console.log("update_table");
//            setTimeout('alert("second function finished");', 200);
        };


        function selectElementContents(el)
        {
            // Copy textarea, pre, div, etc.
            if (document.body.createTextRange) {
                // IE
                var textRange = document.body.createTextRange();
                textRange.moveToElementText(el);
                textRange.select();
                textRange.execCommand("Copy");
            }
            else if (window.getSelection && document.createRange) {
                // non-IE
                var range = document.createRange();
                range.selectNodeContents(el);
                var sel = window.getSelection();
                sel.removeAllRanges();
                sel.addRange(range);
                try {
                    var successful = document.execCommand('copy');
                    var msg = successful ? 'successful' : 'unsuccessful';
                    console.log('Copy command was ' + msg);
                } catch(err) {
                    console.log('Oops, unable to copy');
                }
            }
        } // end function selectElementContents(el)

        function make_copy_button(el)
        {
            var copy_btn = document.createElement('input');
            copy_btn.type = "button";
            copy_btn.className = "btn btn-default btn-sm";
//            copy_btn.style = "background-color:grey";
            el.parentNode.insertBefore(copy_btn, el.nextSibling);
//            copy_btn = document.getElementById('#copyBtn');
            copy_btn.onclick = function() { selectElementContents(el); };

            if (document.queryCommandSupported("copy") || parseInt(navigator.userAgent.match(/Chrom(e|ium)\/([0-9]+)\./)[2]) >= 42)
            {
                // Copy works with IE 4+, Chrome 42+, Firefox 41+, Opera 29+
                copy_btn.value = "Copy";
            }
            else
            {
                // Select only for Safari and older Chrome, Firefox and Opera
                copy_btn.value = "Select All (then press CTRL+C to Copy)";
            }
        }

//        make_copy_button(document.getElementById("token_num"));

        /*]]>*/
    </script>

</body>
</html>

