<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Upload file</title>

    <link href="/css/lib/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-treeview.css" />
    <link rel="stylesheet" type="text/css" href="/css/temp.css" />
    <!-- Required Stylesheets -->
    <!--<link href="/css/lib/bootstrap.css" rel="stylesheet"/>-->

    <!-- Required Javascript -->

</head>
<body>


        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Metaprot</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li><a onclick="window.location.href='/upload'">Upload Data</a></li>
                        <li class="active"><a href="#">Preprocessing<span class="sr-only">(current)</span></a></li>
                        <li><a onclick="window.location.href='../analysis'">Analysis</a></li>
                        <li><a href="#">Annotation</a></li>
                        <li><a href="">Integration</a></li>
                        <li><a href="">Summary</a></li>
                    </ul>
                </div>
                <!--<div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main">-->
                <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main">
                    <div id="window" style="margin-bottom:15px">
                        <div id="missing-value-estimation" class="processing-section active" data-section-index="1">
                            <h1>Handle missing values</h1>
                            <div class="section">
                                <div>
                                    <form id="mve-form">
                                        <div class="form-group">
                                            <h5><input id="remove-threshold-checkbox" type="checkbox" /> Remove features with too many missing values:</h5>
                                            <input id="remove-threshold" type="text" value="50" /> %
                                        </div>
                                        <div class="form-group">
                                            <h5>Estimate remaining missing values:</h5>
                                            <select id="estimate-mv">
                                                <option value="replace">Replace by a small value (half of the minimum positive value in the original data)</option>
                                                <option value="exclude">Exclude variables with missing values</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Process" class="btn btn-default" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div id="normalization" class="processing-section" data-section-index="2">
                            <h2>Normalization</h2>
                            <div class="section">
                                <div>
                                    <form id="normalization-form">
                                        <div class="form-group">
                                            <h5>Sample normalization:</h5>
                                            <input id="none" type="radio" value="none" name="norm-by" checked="checked" />
                                            <label for="none">None</label>
                                            <br />
                                            <input id="sum" type="radio" value="sum" name="norm-by" />
                                            <label for="sum">Normalization by sum</label>
                                            <br />
                                            <input id="median" type="radio" value="median" name="norm-by" />
                                            <label for="median">Normalization by median</label>
                                            <br />
                                            <input id="spec-ref-sample" type="radio" value="srs" name="norm-by" />
                                            <label for="spec-ref-sample">Norm. by specific reference sample</label>
                                            <br />
                                            <input id="ref-feature" type="radio" value="rf" name="norm-by" />
                                            <label for="ref-feature">Norm. by reference feature</label>
                                        </div>

                                        <div class="form-group">
                                            <h5>Data transformation:</h5>
                                            <input id="none-trans" type="radio" value="none" name="trans" checked="checked" />
                                            <label for="none-trans">None</label>
                                            <br/>

                                            <input id="log-trans" type="radio" value="log-trans" name="trans" />
                                            <label for="log-trans">Log transformation</label>
                                            <br />

                                            <input id="cube-root-trans" type="radio" value="cube-root-trans" name="trans" />
                                            <label for="cube-root-trans">Cube root transformation</label>

                                        </div>

                                        <div class="form-group">
                                            <h5>Data scaling:</h5>
                                            <input id="none-scaling" type="radio" value="none" name="scaling" checked="checked" />
                                            <label for="none-scaling">None</label>
                                            <br/>

                                            <input id="mean-centered" type="radio" value="mean-centered" name="scaling" />
                                            <label for="mean-centered">Mean centering</label>
                                            <br />

                                            <input id="pareto" type="radio" value="pareto" name="scaling" />
                                            <label for="pareto">Pareto scaling</label>
                                        </div>

                                        <input type="submit" value="Process" class="btn btn-default" />
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!--<div id="analyze" class="processing-section" data-section-index="3">-->
                            <!--<h2><span class="badge">3</span> Analyze</h2>-->
                            <!--<div class="section">-->
                                <!--<div class="row">-->
                                    <!--<div class="col-sm-6 card">-->
                                        <!--<div class="card-text">-->
                                            <!--Metabolite-analysis-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-6 card">-->
                                        <!--<div class="card-text">-->
                                            <!--Temporal pattern recognition-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div id="section-navigation" class="text-center">
                            <span class="navigation-tool prev invisible"><i class="fa fa-arrow-left fa-3x"></i></span>
                            <span style="margin: 0 15px"></span>
                            <span class="navigation-tool next"><i class="fa fa-arrow-right fa-3x"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div id="treeview"/>
                </div>
            </div>
        </div>




        <div th:include="fragments/footer :: footer"></div>

        <script type="text/javascript" src="/js/lib/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
        <script src="js/lib/jquery.js"></script>
        <script src="js/bootstrap-treeview.js"></script>
        <script type="text/javascript">
            function buildDomTree() {

                var data = [];

                function walk(nodes, data) {
                    if (!nodes) { return; }
                    $.each(nodes, function (id, node) {
                        var obj = {
                            id: id,
                            // text: "file"+id,
                            text: "File" + " - " + id+1,
                            tags: [node.childElementCount > 0 ? node.childElementCount + ' child elements' : '']
                        };
                        if (node.childElementCount > 0) {
                            obj.nodes = [];
                            walk(node.children, obj.nodes);
                        }
                        data.push(obj);
                    });
                }

                walk($('html')[0].children, data);
                return data;
            }

            $(function() {

                var options = {
                    bootstrap2: false,
                    showTags: false,
                    levels: 5,
                    data: buildDomTree()
                };

                $('#treeview').treeview(options);
            });

            /*<![CDATA[*/
            $(function() {
                // events for navigation via the prev/next arrows
                var activeSection = 1;  // 1 = mve, 2 = norm, 3 = analye
                var $next = $('.navigation-tool.next'), $prev = $('.navigation-tool.prev');
                $('.navigation-tool').on("click", function() {
                    if ($(this).hasClass("next")) {
                        if (activeSection < 3) {        // 3 is the last section possible

                            $('div[data-section-index=' + activeSection + ']').hide();
                            activeSection += 1;
                            $('div[data-section-index=' + activeSection + ']').fadeIn(600);

                            if (activeSection >= 3) {
                                $next.addClass("invisible");
                                $prev.removeClass("invisible");
                            } else {
                                $next.removeClass("invisible");
                                $prev.removeClass("invisible");
                            }
                        }

                    } else {
                        // must have been the prev pointer
                        if (activeSection > 1) {

                            $('div[data-section-index=' + activeSection + ']').hide();
                            activeSection -= 1;
                            $('div[data-section-index=' + activeSection + ']').fadeIn(600);

                            if (activeSection <= 1) {
                                $next.removeClass("invisible");
                                $prev.addClass("invisible");
                            } else {
                                $next.removeClass("invisible");
                                $prev.removeClass("invisible");
                            }
                        }
                    }
                });


            // form events
            $('#mve-form').on("submit", function(e) {
                e.preventDefault();
                console.log(localStorage.getItem("root"));
                console.log("process mve");
            });

                $('#normalization-form').on("submit", function(e) {
                    e.preventDefault();

                    console.log("process normalization");
                });


            });
            /*]]>*/
        </script>
    </body>
</html>